.nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 24px 0;
    z-index: 1000;
    box-shadow: 0px 5px 12px rgba(71, 71, 71, 0.06);
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        gap: 0px 10px;
    }
    &__logo {
        // background-image: url('../img/icons/logo.svg');
        // background-repeat: no-repeat;
        // background-position: 'center';
        // background-size: cover;
        display: block;
        width: 100%;
        height: 100%;
        max-width: 180px;
        img {
            width: 100%;
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        gap: 32px;

        &__item {
            &__btn {
                display: block;
                @include btn(#3A98B2, #fff, #328BA4, #fff);
                font-size: 16px;
                padding: 1rem 1.25rem;
            }
            &:last-child {
                display: none;
                margin: 0 auto;
                padding-top: 120px;
            }
        }

        &__link {
            color: #142B35;
            line-height: 19px;
            font-size: 16px;
            font-weight: 400;
        }

        
    }

    &__contact {
        color: #142B35;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 1px solid #E0E0E0;
        padding-left: 24px;

        &__number {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-right: 24px;

            &__icon {
                position: relative;
                top: 3px;
                margin-right: 16px;
            }
        }
        &__container {
            display: none;
            height: 100%;
            width: 30px;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__btn {
            display: block;
            @include btn(#3A98B2, #fff, #328BA4, #fff);
            font-size: 16px;
            padding: 1rem 1.25rem;
        }
    }
    #menu-toggle {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .nav {
        padding: 15px 0;
        .container {
            display: flex;
            justify-content: space-between;
        }
        
        &__menu {
            position: absolute;
            transition: all .4s ease;
            flex-direction: column;
            margin-top: 84px;
            background-color: #fff;
            height: 0;
            top: 0;
            right: 0;
            gap: 32px;
            width: 100%;
            &__link {
                line-height: 23px;
                font-size: 20px;
            }
        }
        #menu-toggle:checked ~ &__menu {
            display: flex;
            height: 100vh;
            padding: 56px 16px 32px;
            transition: all .4s ease;
        }
        #menu-toggle ~ &__menu li {
            display: none;
        }
        #menu-toggle:checked ~ &__menu li{
            display: block;
        }

        &__contact {
            padding: 0;
            border: none;
            gap: 14px;
            &__number {
                margin: 0;
                &__icon {
                    position:static;
                    width: 28px;
                    margin: 0;
                }
                span {
                    display: none;
                }
            }
            &__btn {
                display: none;
            }

            &__container {
                display: flex;
                position: relative;
                &__burger, &__burger::before, &__burger::after {
                    display: block;
                    background-color: #142B35;
                    position: absolute;
                    height: 4px;
                    width: 30px;
                    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
                    border-radius: 2px;
                }
                &__burger::before {
                    content: '';
                    margin-top: -8px;
                }
                &__burger::after {
                    content: '';
                    margin-top: 8px;
                }
            }
    
            #menu-toggle:checked ~ & &__container &__container__burger::before {
                margin-top: 0px;
                transform: rotate(405deg);
              }
              
              #menu-toggle:checked ~ & &__container &__container__burger {
                background: rgba(255, 255, 255, 0);
              }
              
              #menu-toggle:checked ~ & &__container &__container__burger::after {
                margin-top: 0px;
                transform: rotate(-405deg);
              }

            #menu-toggle:checked &__container &__container__burger::before {
                margin-top: 0px;
                transform: rotate(405deg);
              }
              
              #menu-toggle:checked &__container &__container__burger {
                background: rgba(255, 255, 255, 0);
              }
              
              #menu-toggle:checked &__container &__container__burger::after {
                margin-top: 0px;
                transform: rotate(-405deg);
              }
        }
        
        
    }
}