@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.dotes {
    display: none;
    &__dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #E0E0E0;
        cursor: pointer;
        transition: background-color 0.6s ease;
        &.active {
            background-color: #F2B91D;
        }
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@media screen and (max-width: 768px) {
    .dotes {
        display: flex;
        justify-content: space-between;
        max-width: 25%;
        margin: 0 auto;
    }
}
