<!--Блог-->
<section class="blog container">
    <h3 class="blog__sub-title">
        BLOG
    </h3>
    <div class="blog__title_n_btn">
        <h2>
            Our latest moving tips
        </h2>
        <a href="">
            view all
        </a>
    </div>
    <div class="blog__cards">
        <div class="blog__cards__card">
            <img
                src="img/moving_tips_img.png"
                alt="How to move during COVID"
                class="blog__cards__card__img">
            <div class="blog__cards__card__text">
                <div class="blog__cards__card__text__date">
                    December 16, 21
                </div>
                <div class="blog__cards__card__text__title">
                    How to move during COVID
                </div>
                <div class="blog__cards__card__text__description">
                    It depends on the size of your room 
                    It depends on the size of your room 
                    It depends on the size of your room 
                </div>
            </div>
        </div>
        <div class="blog__cards__card">
            <img
                src="img/moving_tips_img.png"
                alt="How to move during COVID"
                class="blog__cards__card__img">
            <div class="blog__cards__card__text">
                <div class="blog__cards__card__text__date">
                    December 16, 21
                </div>
                <div class="blog__cards__card__text__title">
                    How to move during COVID
                </div>
                <div class="blog__cards__card__text__description">
                    It depends on the size of your room 
                    It depends on the size of your room 
                    It depends on the size of your room 
                </div>
            </div>
        </div>
        <div class="blog__cards__card">
            <img
                src="img/moving_tips_img.png"
                alt="How to move during COVID"
                class="blog__cards__card__img">
            <div class="blog__cards__card__text">
                <div class="blog__cards__card__text__date">
                    December 16, 21
                </div>
                <div class="blog__cards__card__text__title">
                    How to move during COVID
                </div>
                <div class="blog__cards__card__text__description">
                    It depends on the size of your room 
                    It depends on the size of your room 
                    It depends on the size of your room 
                </div>
            </div>
        </div>
    </div>
    
    <div class="dotes">
        <div class="dotes__dot dot2" onclick="currentSlide(1, 1)"></div>
        <div class="dotes__dot dot2" onclick="currentSlide(2, 1)"></div>
        <div class="dotes__dot dot2" onclick="currentSlide(3, 1)"></div>
    </div>
</section>
<!--Конец блога-->