<!--Блок связи-->
<section class="we-are-local">
    <div class="container">
        <div class="we-are-local__text">
            <h3 class="we-are-local__text__sub-title">
                we are local
            </h3>
            <h2 class="we-are-local__text__title">
                We proudly serve the Chicagoland area
            </h2>
            <div class="we-are-local__text__description">
                Alliance Moving & Storage is a family-operated 
                moving company based in Rolling Meadows.<br>
                Our mission is to provide professional, 
                affordable, and reliable moving 
            </div>
            <ul class="we-are-local__text__contacts">
                <li class="we-are-local__text__contacts__item">
                    <img src="img/icons/map-point.svg" alt="map point icon" class="we-are-local__text__contacts__item__icon">
                    <div class="we-are-local__text__contacts__item__text">
                        3201 TOLLVIEW DRIVE ROLLING MEADOWS, IL 60008
                    </div>
                </li>
                <li class="we-are-local__text__contacts__item">
                    <img src="img/icons/map-point.svg" alt="map point icon" class="we-are-local__text__contacts__item__icon">
                    <div class="we-are-local__text__contacts__item__text">
                        4305 N. LINCOLN AVE CHICAGO, IL 60618
                    </div>
                </li>
                <li class="we-are-local__text__contacts__item">
                    <img src="img/icons/phone-blue.svg" alt="blue phone icon" class="we-are-local__text__contacts__item__icon">
                    <div class="we-are-local__text__contacts__item__text">
                        (847) 378-4949
                    </div>
                </li>
            </ul>
        </div>
        <form action="" class="we-are-local__form">
            <h4 class="we-are-local__form__title">get In Touch</h4>
            <div class="we-are-local__form__fields">
                <div class="we-are-local__form__fields__input">
                    <label for="fullname" class="we-are-local__form__fields__label">
                        Full Name <span>*</span>
                    </label>
                    <input
                        type="text"
                        name="fullname"
                        id="fullname"
                        >
                </div>
                <div class="we-are-local__form__fields__input">
                    <label for="phone" class="we-are-local__form__fields__label">
                        Phone <span>*</span>
                    </label>
                    <input
                        type="tel"
                        name="phone"
                        id="phone"
                        placeholder="---_---_----"
                        >
                </div>
                <div class="we-are-local__form__fields__email">
                    <label for="email" class="we-are-local__form__fields__label">
                        Email <span>*</span>
                    </label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        >
                </div>
                <div class="we-are-local__form__fields__textarea">
                    <label for="textarea" class="we-are-local__form__fields__label">
                        Notes
                    </label>
                    <textarea
                        name="textarea"
                        id="textarea"
                        minlength="100"
                        ></textarea>
                </div>
            </div>
            <input class="we-are-local__form__submit" type="submit" value="Submit">
        </form>
    </div>
</section>
<!--Конец блока связи-->