<nav class="nav">
    <div class="container">
        <a class="nav__logo" href="">
            <img src="img/icons/logo.svg" alt="logo">
        </a>
        <input id="menu-toggle" type="checkbox"/>
        <ul class="nav__menu" id="nav_menu">
            <li class="nav__menu__item">
                <a href="" class="nav__menu__link">
                    Local Movers
                </a>
            </li>
            <li class="nav__menu__item">
                <a href="" class="nav__menu__link">
                    Long Distance
                </a>
            </li>
            <li class="nav__menu__item">
                <a href="" class="nav__menu__link">
                    Storage
                </a>
            </li>
            <li class="nav__menu__item">
                <a href="" class="nav__menu__link">
                    About Us
                </a>
            </li>
            <li class="nav__menu__item">
                <a href="" class="nav__menu__link">
                    Service Area
                </a>
            </li>
            <li class="nav__menu__item">
                <a href="" class="nav__menu__item__btn">
                    Get a Quote
                </a>
            </li>
        </ul>
        <div class="nav__contact">
            <span class="nav__contact__number">
                <img src="img/icons/phone.svg" alt="phone" class="nav__contact__number__icon">
                <span>847-378-4949</span>
            </span>
            <a href="" class="nav__contact__btn" id="get-quote-btn">
                <span>Get a Quote</span>
            </a>
            <label class='nav__contact__container' for="menu-toggle">
                <div class="nav__contact__container__burger"></div>
            </label>
        </div>
        
    </div>
</nav>