<!--Блок услуг-->
<section class="what-we-do container">
    <!--Заголовок-->
    <h3 class="what-we-do__sub-title">what we do</h3>
    <h2 class="what-we-do__title">Professional Moving Services</h2>
    <div class="what-we-do__description">
        From cross-country moves to anywhere in between, 
        distance moving can be simple. 
        We’ll help you get there
    </div>
    <!--Конец заголовока-->

    <!--Сетка услуг-->
    <div class="what-we-do__services">
        <div class="what-we-do__services__item">
            <div class="what-we-do__services__item__icon">
                <img src="img/icons/truck.svg" alt="service icon">
            </div>
            <div class="what-we-do__services__item__title">
                Residential Moving
            </div>
            <div class="what-we-do__services__item__description">
                Managing every detail, big or small, 
                to help you have the smoothest move 
                possible. We’ll help you arrive home
            </div>
        </div>
        <div class="what-we-do__services__item">
            <div class="what-we-do__services__item__icon">
                <img src="img/icons/boxes.svg" alt="service icon">
            </div>
            <div class="what-we-do__services__item__title">
                Commerical Moving
            </div>
            <div class="what-we-do__services__item__description">
                Fast & efficient moving for businesses, 
                while ensuring careful handling of 
                equipment. We’ll support your business venture
            </div>
        </div>
        <div class="what-we-do__services__item">
            <div class="what-we-do__services__item__icon">
                <img src="img/icons/box.svg" alt="service icon">
            </div>
            <div class="what-we-do__services__item__title">
                Packing and Unpacking services
            </div>
            <div class="what-we-do__services__item__description">
                Careful packing, crating, wrapping, and 
                unpacking so you won’t have to worry. We’ll 
                organize the moving parts
            </div>
        </div>
        <div class="what-we-do__services__item">
            <div class="what-we-do__services__item__icon">
                <img src="img/icons/couch.svg" alt="service icon">
            </div>
            <div class="what-we-do__services__item__title">
                Furniture disassembly service
            </div>
            <div class="what-we-do__services__item__description">
                Servicing your appliances, electronics, 
                over-sized furniture, and more. We’ll care 
                for your valuables
            </div>
        </div>
        <div class="what-we-do__services__item">
            <div class="what-we-do__services__item__icon">
                <img src="img/icons/map.svg" alt="service icon">
            </div>
            <div class="what-we-do__services__item__title">
                Long-Distance Movers
            </div>
            <div class="what-we-do__services__item__description">
                From cross-country moves to anywhere 
                in between, distance moving can be 
                simple. We’ll help you get there
            </div>
        </div>
        <div class="what-we-do__services__item">
            <div class="what-we-do__services__item__icon">
                <img src="img/icons/warehouse.svg" alt="service icon">
            </div>
            <div class="what-we-do__services__item__title">
                Storage Units
            </div>
            <div class="what-we-do__services__item__description">
                Climate controlled facilities to 
                meet any of your storage needs. 
                We’ll keep your items safe
            </div>
        </div>
    </div>
    <!--Конец сетки услуг-->
    <div class="dotes">
        <div class="dotes__dot dot1" onclick="currentSlide(1, 0)"></div>
        <div class="dotes__dot dot1" onclick="currentSlide(2, 0)"></div>
        <div class="dotes__dot dot1" onclick="currentSlide(3, 0)"></div>
        <div class="dotes__dot dot1" onclick="currentSlide(4, 0)"></div>
        <div class="dotes__dot dot1" onclick="currentSlide(5, 0)"></div>
        <div class="dotes__dot dot1" onclick="currentSlide(6, 0)"></div>
    </div>
</section>
<!--Конец блока услуг-->