<footer class="footer">
    <div class="container">
        <span class="footer__copyright">
            &#169; alliance moving and storage. all rights reserved
        </span>
        <span class="footer__urls">
            <span class="footer__urls__hrefs">
                <a href="">Privacy policy</a> | <a href="">consumer information</a>
            </span>
            <span class="footer__urls__ittl">
                ITLL MC: 214854 - USDOT: 2882675
            </span>
        </span>
        <span class="footer__made-by">
            Made by Comrade
        </span>
    </div>
</footer>