<header class="header">
    <hero class="hero">
        <div class="container">
            <div class="hero__text">
                <h1 class="hero__text__title">
                    Looking For A Professional Moving Company in Chicago, IL?
                </h1>
                <div class="hero__text__description">
                    Alliance Moving & Storage is a family-operated moving 
                    company based in Rolling Meadows. Our mission is to provide 
                    professional, affordable, and reliable moving solutions for residential and commercial needs in the Chicagoland area.
                </div>
            </div>
        </div>
    </hero>
</header>